
/* Tổng thể */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #AC3B61;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .checkout-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #EEE;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .checkout-details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  /* Thông tin người nhận */
  .customer-info {
    flex: 1;
    padding: 10px;
  }
  
  .customer-info h2, .customer-info h3 {
    color: #AC3B61;
  }
  
  .customer-info label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .customer-info input[type="text"], 
  .customer-info input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payment-method label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Thông tin sản phẩm */
  .product-summary {
    flex: 1;
    padding: 10px;
    text-align: center;
  }
  
  .product-summary img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-summary input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
  }
  
  .product-summary p {
    font-size: 1.2rem;
    color: #AC3B61;
  }
  
  /* Nút thanh toán */
  .checkout-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #AC3B61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .checkout-button:hover {
    background-color: #DA7B93;
  }
  .add-to-cart-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .add-to-cart-button:hover {
    background-color: #45A049;
  }
  